/* accent color  #4D5AE5 */
/* header text color #2E2F42; */
/* address, main text in paragraphs color #434455 */
/* white #FFF */
/* footer logo white #F4F4FD */
/* footer text header background  #E7E9FC */
/* dark background #2E2F42 */
/* light background #E5E5E5 */
/* photo background #F4F4FD */

:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --hover-link-color: #404bbf;
  --dark-background-color: #2e2f42;
  --light-background-color: #f4f4fd;
}

.page {
  color: var(--primary-text-color);
  background-color: #fff;
}

.list {
  list-style: none;
}

h2,
h3 {
  color: var(--title-text-color);
}

/* Header */

.logo {
  color: var(--title-text-color);
}
.web {
  color: var(--accent-color);
}

/* Site nav */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover {
  color: var(--hover-link-color);
}

/* Address */

.address .link {
  color-scheme: var(--primary-text-color);
}

.address .link:hover {
  color: var(--hover-link-color);
}

/* Hero */
.hero {
  background-color: var(--dark-background-color);
}

.hero-title {
  color: #fff;
}

/* Footer */

.footer {
  color: #e7e9fc;
  background-color: var(--dark-background-color);
  height: 310px;
}

.footer-logo {
  color: #f4f4fd;
}
